*.pyc
.cache/*
test/.cache/
test/__pycache__/
.idea
.ipynb_checkpoints/
.RData
.Rhistory
.DS_Store
*.bak
*.swp
.DS_Store
__pycache__/
output/
*.pdf
pelican.pid
srv.pid
*.log
*.h5
data/*
wakeful.egg-info/
build/
dist/
